In [1]:
import pandas as pd
%matplotlib inline

###A simple example to illustrate the intuition behind dummy variables

In [2]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})

In [3]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [4]:
pd.get_dummies(df['key'],prefix='key')

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

###Now we have a matrix of values based on the presence of absence of the attribute value in our dataset

###Now let's look at another example using our flight data

In [6]:
df = pd.read_csv('data/ontime_reports_may_2015_ny.csv')
df

,YEAR,MONTH,DAY_OF_MONTH,CARRIER,FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,...,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 20
0,2015,5,1,AA,44,LAS,JFK,-6,-17,0,...,0,294,273,2248,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,5,2,AA,44,LAS,JFK,-8,-14,0,...,0,299,280,2248,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,5,3,AA,44,LAS,JFK,0,-11,0,...,0,294,274,2248,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,5,4,AA,44,LAS,JFK,-11,4,0,...,0,320,275,2248,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,5,AA,44,LAS,JFK,-4,-18,0,...,0,291,270,2248,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,5,6,AA,44,LAS,JFK,-5,-6,0,...,0,304,279,2248,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,5,7,AA,44,SEA,JFK,-2,-11,0,...,0,319,297,2422,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,5,8,AA,44,SEA,JFK,-3,-15,0,...,0,316,293,2422,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,5,9,AA,44,SEA,JFK,-6,5,0,...,0,339,307,2422,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,5,10,AA,44,SEA,JFK,38,31,0,...,0,321,301,2422,0,31,0,0,0,NaN
10,2015,5,11,AA,44,SEA,JFK,-2,-11,0,...,0,319,291,2422,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,5,12,AA,44,SEA,JFK,19,-10,0,...,0,299,283,2422,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,5,13,AA,44,SEA,JFK,-1,-10,0,...,0,319,287,2422,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,5,14,AA,44,SEA,JFK,175,157,0,...,0,310,291,2422,157,0,0,0,0,NaN
14,2015,5,15,AA,44,SEA,JFK,-1,-8,0,...,0,321,295,2422,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,5,16,AA,44,SEA,JFK,0,5,0,...,0,333,303,2422,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,5,17,AA,44,SEA,JFK,-4,7,0,...,0,339,313,2422,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,5,18,AA,44,SEA,JFK,-5,-10,0,...,0,323,300,2422,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,5,19,AA,44,SEA,JFK,-4,-24,0,...,0,308,280,2422,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,5,20,AA,44,SEA,JFK,-1,-8,0,...,0,321,291,2422,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,5,21,AA,44,SEA,JFK,-10,-29,0,...,0,309,283,2422,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,5,22,AA,44,SEA,JFK,85,89,0,...,0,332,298,2422,85,0,4,0,0,NaN
22,2015,5,23,AA,44,SEA,JFK,3,-16,0,...,0,309,278,2422,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,5,24,AA,44,SEA,JFK,1,-13,0,...,0,314,292,2422,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,5,25,AA,44,SEA,JFK,-2,-11,0,...,0,319,298,2422,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,5,26,AA,44,SEA,JFK,26,30,0,...,0,332,308,2422,26,0,4,0,0,NaN
26,2015,5,27,AA,44,SEA,JFK,-2,8,0,...,0,338,308,2422,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,5,28,AA,44,SEA,JFK,-4,-8,0,...,0,324,289,2422,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,5,29,AA,44,SEA,JFK,-9,-20,0,...,0,317,297,2422,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,5,30,AA,44,SEA,JFK,-3,-10,0,...,0,321,295,2422,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45618,2015,5,31,WN,2632,MCO,BUF,-3,-13,0,...,0,145,131,1011,NaN,NaN,NaN,NaN,NaN,NaN
45619,2015,5,31,WN,293,MCO,ISP,-3,-7,0,...,0,151,134,971,NaN,NaN,NaN,NaN,NaN,NaN
45620,2015,5,31,WN,325,MCO,ISP,6,7,0,...,0,151,134,971,NaN,NaN,NaN,NaN,NaN,NaN
45621,2015,5,31,WN,426,MCO,ISP,-5,-10,0,...,0,145,133,971,NaN,NaN,NaN,NaN,NaN,NaN
45622,2015,5,31,WN,4486,MCO,ISP,20,17,0,...,0,147,131,971,17,0,0,0,0,NaN
45623,2015,5,31,WN,3935,MCO,ROC,-1,-7,0,...,0,149,134,1033,NaN,NaN,NaN,NaN,NaN,NaN
45624,2015,5,31,WN,103,MDW,ALB,5,0,0,...,0,110,88,717,NaN,NaN,NaN,NaN,NaN,NaN
45625,2015,5,31,WN,1461,MDW,ALB,58,52,0,...,0,109,87,717,0,52,0,0,0,NaN
45626,2015,5,31,WN,134,MDW,BUF,33,24,0,...,0,81,61,468,24,0,0,0,0,NaN
45627,2015,5,31,WN,615,MDW,BUF,1,-11,0,...,0,78,61,468,NaN,NaN,NaN,NaN,NaN,NaN
45628,2015,5,31,WN,2241,MDW,BUF,13,-13,0,...,0,74,59,468,NaN,NaN,NaN,NaN,NaN,NaN
45629,2015,5,31,WN,33,MDW,LGA,0,-4,0,...,0,126,96,725,NaN,NaN,NaN,NaN,NaN,NaN
45630,2015,5,31,WN,682,MDW,LGA,31,NaN,0,...,1,NaN,NaN,725,NaN,NaN,NaN,NaN,NaN,NaN
45631,2015,5,31,WN,803,MDW,LGA,35,NaN,1,...,0,NaN,NaN,725,NaN,NaN,NaN,NaN,NaN,NaN
45632,2015,5,31,WN,1945,MDW,LGA,61,NaN,0,...,1,NaN,NaN,725,NaN,NaN,NaN,NaN,NaN,NaN
45633,2015,5,31,WN,2778,MDW,LGA,-2,-5,0,...,0,122,95,725,NaN,NaN,NaN,NaN,NaN,NaN
45634,2015,5,31,WN,4365,MDW,LGA,150,138,0,...,0,118,99,725,138,0,0,0,0,NaN
45635,2015,5,31,WN,292,MDW,ROC,10,1,0,...,0,81,66,523,NaN,NaN,NaN,NaN,NaN,NaN
45636,2015,5,31,WN,2229,MDW,ROC,0,-8,0,...,0,87,68,523,NaN,NaN,NaN,NaN,NaN,NaN
45637,2015,5,31,WN,1208,MKE,LGA,8,13,0,...,0,140,107,738,NaN,NaN,NaN,NaN,NaN,NaN
45638,2015,5,31,WN,3391,MKE,LGA,135,NaN,0,...,1,NaN,NaN,738,NaN,NaN,NaN,NaN,NaN,NaN
45639,2015,5,31,WN,1194,STL,LGA,-4,-18,0,...,0,131,114,888,NaN,NaN,NaN,NaN,NaN,NaN
45640,2015,5,31,WN,1986,STL,LGA,NaN,NaN,1,...,0,NaN,NaN,888,NaN,NaN,NaN,NaN,NaN,NaN
45641,2015,5,31,WN,3741,STL,LGA,41,NaN,0,...,1,NaN,NaN,888,NaN,NaN,NaN,NaN,NaN,NaN
45642,2015,5,31,WN,854,TPA,ALB,-1,7,0,...,0,178,151,1130,NaN,NaN,NaN,NaN,NaN,NaN
45643,2015,5,31,WN,127,TPA,BUF,-5,-9,0,...,0,151,136,1053,NaN,NaN,NaN,NaN,NaN,NaN
45644,2015,5,31,WN,2160,TPA,BUF,50,50,0,...,0,155,142,1053,0,12,0,0,38,NaN
45645,2015,5,31,WN,2423,TPA,ISP,3,3,0,...,0,155,140,1034,NaN,NaN,NaN,NaN,NaN,NaN
45646,2015,5,31,WN,4390,TPA,ISP,-4,-14,0,...,0,155,143,1034,NaN,NaN,NaN,NaN,NaN,NaN
45647,2015,5,31,WN,3874,TPA,ROC,2,-2,0,...,0,156,143,1079,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#count number of NaNs in column
df['DEP_DELAY'].isnull().sum()

728

In [8]:
#calculate the percentage this represents of the total number of instances
df['DEP_DELAY'].isnull().sum()/df['DEP_DELAY'].sum()

0.0014866851821597779

###We could explore whether the NaNs are actually zero delays, but we'll just filter them out for now, especially since they represent such a small number of instances

In [9]:
#filter DEP_DELAY NaNs
df = df[pd.notnull(df['DEP_DELAY'])]
df

,YEAR,MONTH,DAY_OF_MONTH,CARRIER,FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,...,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 20
0,2015,5,1,AA,44,LAS,JFK,-6,-17,0,...,0,294,273,2248,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,5,2,AA,44,LAS,JFK,-8,-14,0,...,0,299,280,2248,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,5,3,AA,44,LAS,JFK,0,-11,0,...,0,294,274,2248,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,5,4,AA,44,LAS,JFK,-11,4,0,...,0,320,275,2248,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,5,AA,44,LAS,JFK,-4,-18,0,...,0,291,270,2248,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,5,6,AA,44,LAS,JFK,-5,-6,0,...,0,304,279,2248,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,5,7,AA,44,SEA,JFK,-2,-11,0,...,0,319,297,2422,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,5,8,AA,44,SEA,JFK,-3,-15,0,...,0,316,293,2422,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,5,9,AA,44,SEA,JFK,-6,5,0,...,0,339,307,2422,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,5,10,AA,44,SEA,JFK,38,31,0,...,0,321,301,2422,0,31,0,0,0,NaN
10,2015,5,11,AA,44,SEA,JFK,-2,-11,0,...,0,319,291,2422,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,5,12,AA,44,SEA,JFK,19,-10,0,...,0,299,283,2422,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,5,13,AA,44,SEA,JFK,-1,-10,0,...,0,319,287,2422,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,5,14,AA,44,SEA,JFK,175,157,0,...,0,310,291,2422,157,0,0,0,0,NaN
14,2015,5,15,AA,44,SEA,JFK,-1,-8,0,...,0,321,295,2422,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,5,16,AA,44,SEA,JFK,0,5,0,...,0,333,303,2422,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,5,17,AA,44,SEA,JFK,-4,7,0,...,0,339,313,2422,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,5,18,AA,44,SEA,JFK,-5,-10,0,...,0,323,300,2422,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,5,19,AA,44,SEA,JFK,-4,-24,0,...,0,308,280,2422,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,5,20,AA,44,SEA,JFK,-1,-8,0,...,0,321,291,2422,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,5,21,AA,44,SEA,JFK,-10,-29,0,...,0,309,283,2422,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,5,22,AA,44,SEA,JFK,85,89,0,...,0,332,298,2422,85,0,4,0,0,NaN
22,2015,5,23,AA,44,SEA,JFK,3,-16,0,...,0,309,278,2422,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,5,24,AA,44,SEA,JFK,1,-13,0,...,0,314,292,2422,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,5,25,AA,44,SEA,JFK,-2,-11,0,...,0,319,298,2422,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,5,26,AA,44,SEA,JFK,26,30,0,...,0,332,308,2422,26,0,4,0,0,NaN
26,2015,5,27,AA,44,SEA,JFK,-2,8,0,...,0,338,308,2422,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,5,28,AA,44,SEA,JFK,-4,-8,0,...,0,324,289,2422,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,5,29,AA,44,SEA,JFK,-9,-20,0,...,0,317,297,2422,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,5,30,AA,44,SEA,JFK,-3,-10,0,...,0,321,295,2422,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45617,2015,5,31,WN,2423,MCO,BUF,-1,-2,0,...,0,154,134,1011,NaN,NaN,NaN,NaN,NaN,NaN
45618,2015,5,31,WN,2632,MCO,BUF,-3,-13,0,...,0,145,131,1011,NaN,NaN,NaN,NaN,NaN,NaN
45619,2015,5,31,WN,293,MCO,ISP,-3,-7,0,...,0,151,134,971,NaN,NaN,NaN,NaN,NaN,NaN
45620,2015,5,31,WN,325,MCO,ISP,6,7,0,...,0,151,134,971,NaN,NaN,NaN,NaN,NaN,NaN
45621,2015,5,31,WN,426,MCO,ISP,-5,-10,0,...,0,145,133,971,NaN,NaN,NaN,NaN,NaN,NaN
45622,2015,5,31,WN,4486,MCO,ISP,20,17,0,...,0,147,131,971,17,0,0,0,0,NaN
45623,2015,5,31,WN,3935,MCO,ROC,-1,-7,0,...,0,149,134,1033,NaN,NaN,NaN,NaN,NaN,NaN
45624,2015,5,31,WN,103,MDW,ALB,5,0,0,...,0,110,88,717,NaN,NaN,NaN,NaN,NaN,NaN
45625,2015,5,31,WN,1461,MDW,ALB,58,52,0,...,0,109,87,717,0,52,0,0,0,NaN
45626,2015,5,31,WN,134,MDW,BUF,33,24,0,...,0,81,61,468,24,0,0,0,0,NaN
45627,2015,5,31,WN,615,MDW,BUF,1,-11,0,...,0,78,61,468,NaN,NaN,NaN,NaN,NaN,NaN
45628,2015,5,31,WN,2241,MDW,BUF,13,-13,0,...,0,74,59,468,NaN,NaN,NaN,NaN,NaN,NaN
45629,2015,5,31,WN,33,MDW,LGA,0,-4,0,...,0,126,96,725,NaN,NaN,NaN,NaN,NaN,NaN
45630,2015,5,31,WN,682,MDW,LGA,31,NaN,0,...,1,NaN,NaN,725,NaN,NaN,NaN,NaN,NaN,NaN
45631,2015,5,31,WN,803,MDW,LGA,35,NaN,1,...,0,NaN,NaN,725,NaN,NaN,NaN,NaN,NaN,NaN
45632,2015,5,31,WN,1945,MDW,LGA,61,NaN,0,...,1,NaN,NaN,725,NaN,NaN,NaN,NaN,NaN,NaN
45633,2015,5,31,WN,2778,MDW,LGA,-2,-5,0,...,0,122,95,725,NaN,NaN,NaN,NaN,NaN,NaN
45634,2015,5,31,WN,4365,MDW,LGA,150,138,0,...,0,118,99,725,138,0,0,0,0,NaN
45635,2015,5,31,WN,292,MDW,ROC,10,1,0,...,0,81,66,523,NaN,NaN,NaN,NaN,NaN,NaN
45636,2015,5,31,WN,2229,MDW,ROC,0,-8,0,...,0,87,68,523,NaN,NaN,NaN,NaN,NaN,NaN
45637,2015,5,31,WN,1208,MKE,LGA,8,13,0,...,0,140,107,738,NaN,NaN,NaN,NaN,NaN,NaN
45638,2015,5,31,WN,3391,MKE,LGA,135,NaN,0,...,1,NaN,NaN,738,NaN,NaN,NaN,NaN,NaN,NaN
45639,2015,5,31,WN,1194,STL,LGA,-4,-18,0,...,0,131,114,888,NaN,NaN,NaN,NaN,NaN,NaN
45641,2015,5,31,WN,3741,STL,LGA,41,NaN,0,...,1,NaN,NaN,888,NaN,NaN,NaN,NaN,NaN,NaN
45642,2015,5,31,WN,854,TPA,ALB,-1,7,0,...,0,178,151,1130,NaN,NaN,NaN,NaN,NaN,NaN
45643,2015,5,31,WN,127,TPA,BUF,-5,-9,0,...,0,151,136,1053,NaN,NaN,NaN,NaN,NaN,NaN
45644,2015,5,31,WN,2160,TPA,BUF,50,50,0,...,0,155,142,1053,0,12,0,0,38,NaN
45645,2015,5,31,WN,2423,TPA,ISP,3,3,0,...,0,155,140,1034,NaN,NaN,NaN,NaN,NaN,NaN
45646,2015,5,31,WN,4390,TPA,ISP,-4,-14,0,...,0,155,143,1034,NaN,NaN,NaN,NaN,NaN,NaN
45647,2015,5,31,WN,3874,TPA,ROC,2,-2,0,...,0,156,143,1079,NaN,NaN,NaN,NaN,NaN,NaN

###We can discretize the continuous DEP_DELAY value by giving it a value of 0 if it's delayed and a 1 if it's not. We record this value into a separate column. (We could also code -1 for early, 0 for ontime, and 1 for late)

In [12]:
#code whether delay or not delayed
df['IS_DELAYED'] = df['DEP_DELAY'].apply(lambda x: 1 if x>0 else 0 )

/Users/jiachuan/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [13]:
#Let's check that our column was created properly
df[['DEP_DELAY','IS_DELAYED']]

       DEP_DELAY  IS_DELAYED
0             -6           0
1             -8           0
2              0           0
3            -11           0
4             -4           0
5             -5           0
6             -2           0
7             -3           0
8             -6           0
9             38           1
10            -2           0
11            19           1
12            -1           0
13           175           1
14            -1           0
15             0           0
16            -4           0
17            -5           0
18            -4           0
19            -1           0
20           -10           0
21            85           1
22             3           1
23             1           1
24            -2           0
25            26           1
26            -2           0
27            -4           0
28            -9           0
29            -3           0
...          ...         ...
45617         -1           0
45618         -3           0
45619         -3           0
45620          6           1
45621         -5           0
45622         20           1
45623         -1           0
45624          5           1
45625         58           1
45626         33           1
45627          1           1
45628         13           1
45629          0           0
45630         31           1
45631         35           1
45632         61           1
45633         -2           0
45634        150           1
45635         10           1
45636          0           0
45637          8           1
45638        135           1
45639         -4           0
45641         41           1
45642         -1           0
45643         -5           0
45644         50           1
45645          3           1
45646         -4           0
45647          2           1

[44920 rows x 2 columns]

In [ ]:
###Dummy variables create a

In [ ]:
pd.get_dummies(df['ORIGIN'],prefix='origin')

###Normalize values

In [ ]:
#Normalize the data attributes for the Iris dataset
# Example from Jump Start Scikit Learn https://machinelearningmastery.com/jump-start-scikit-learn/
from sklearn.datasets import load_iris 
from sklearn import preprocessing #load the iris dataset
iris=load_iris()
X=iris.data
y=iris.target #normalize the data attributes 
normalized_X = preprocessing.normalize(X)

In [ ]:
zip(X,normalized_X)