In [5]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(1,10):
    print i

1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1,10,2):
    print i
#for i in range(1,10)is 123456789
#Then, we want 1 to 10, but we want to skip by 2

1
3
5
7
9

In [8]:
print range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
for i in range(1,10,3):
    print i
#for loop

1
4
7

In [16]:
print range(1,10,3)
#list

[1, 4, 7]

###EG: write a function to calculate the hypotenuse of a right traiangle given the two legs
#####a2+b2=c2

In [24]:
#Way 1
def hypotenuse(a,b):
    dsquared = a**2 + b**2
    return dsquared**0.5
print hypotenuse(3,4)

5.0

In [25]:
#Way 2
import math
def calc_hypotenuse(a,b):
    return math.sqrt(a**2+b**2)
calc_hypotenuse(3,4)

5.0

In [27]:
#Way 3
import math
def hypotenuse(a,b):
    return math.sqrt(math.pow(a,2) + math.pow(b,2))
print hypotenuse(3,4)

5.0

In [29]:
l = [1,2,'abc']
l

[1, 2, 'abc']

In [31]:
l.pop()

'abc'

###Sets

In [ ]:
l = [1,1,1,2,3]

In [51]:
s = set(l)
s
#avoid duplicate things

{1, 2, 3}

In [50]:
l
#origianl list still have duplicate objects

[1, 1, 1, 2, 3]

In [47]:
s1 = set({1, 2, 3})
s2 = set({3, 4, 5})
s1 - s2

{1, 2}

###Dictionaries

In [52]:
state_dict = {'ny':'New York'}
state_dict['ny']

'New York'

In [54]:
#state_dict[0]
#this will result error, cause this is dictionary, not list